{{ template "header.html" . }}
<div id="primary">
    <main id="main">
            <div class="post-title">
                <h1>{{.Title}}</h1>
            </div>
            <div class="post-category">
                {{.Date}}
                 · 
                <a href="{{.BlogURI}}/categories/{{.Category | urlquery}}/" class="post-cate">{{.Category}}</a>
                 · 
                <a href="{{.BlogURI}}/" class="post-cate">{{.BlogAuthor}}</a>
            </div>       
            <div class="post-content">
                {{ .Content | safeHTML }}
            </div>
            <div class="post-tags">
                <span class="meta-text">
                    {{ range $index, $tag := .TagsArray }}
                    <a href="{{$.BlogURI}}/tags/{{ . }}/" rel="tag"># {{ . }}</a>
                    {{ end }}
                </span>
            </div>
            <hr>
            <div style="text-indent:20px; margin-bottom:1.33em">
                <b>《{{.Title}}》</b>
                        <div class="bq">
                        <a href="{{.BlogURI}}/{{.URI}}/">{{.BlogURI}}/{{.URI}}/</a>
                            <div align="right"><a href="{{.BlogURI}}/copyright/">© ROYWANG</a></div>
                        </div>
                    </div>
                    <hr>
            </article>
                {{ template "comment.html" . }}
    </main><!-- #main -->
</div><!-- #primary -->
{{ template "footer.html" . }}
