{{ template "header.html" . }}

<div id="primary">
    <main id="main">
        <header>
            <h1>标签: {{ .Tag }}</h1>
        </header>
        {{ range .Posts }}
            <article class="hentry">
                <div class="post-title">
                    <h2><a href="{{$.BlogURI}}/{{ .URI }}/" rel="bookmark">{{ .Title }}</a></h2>
                </div>
                <span class="post-index-secondary-title">
                    <span title="发表于 {{ .Date }}"> {{ .Date }}</span>
                </span>
            </article>
        {{ end }}
    </main>
</div>


<div class="pagination">
    <div class="nav-next alignleft">
        {{ if gt .CurrentPage 1 }}
        <a href="{{.BlogURI}}/tags/{{ .Tag }}/{{ if eq .CurrentPage 2 }}{{ else }}page/{{ sub .CurrentPage 1 }}/{{ end }}">上一页</a>
        {{ end }}
    </div>
    <div class="nav-previous alignright">
        {{ if lt .CurrentPage .TotalPages }}
        <a href="{{.BlogURI}}/tags/{{ .Tag }}/{{ add .CurrentPage 1 }}/">下一页</a>
        {{ end }}
    </div>
</div>

{{ template "footer.html" . }}
